<!doctype html>
<html class="no-js" lang="nl">
    <head>
        <meta charset="utf-8" />
    <%- include('partials/json') %>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Professionele Vastgoeddiensten | Schilderwerk, MJOP, Reiniging | T.H.A Vastgoedonderhoud</title>
        <meta name="description" content="Ontdek onze uitgebreide vastgoedonderhoudsdiensten, waaronder schilderwerk, MJOP beheer, dakreiniging en meer. Vraag nu een offerte aan bij T.H.A Vastgoedonderhoud." />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- SEO Keywords -->
        <meta name="keywords" content="vastgoedonderhoud, schilderwerk, dakreiniging, MJOP beheer, vastgoeddiensten, reiniging, VvE onderhoud, zakelijke dienstverlening" />
    
        <!-- Open Graph for social sharing -->
        <meta property="og:title" content="Professionele Vastgoeddiensten | T.H.A Vastgoedonderhoud" />
        <meta property="og:description" content="Professionele vastgoedonderhoudsdiensten, inclusief schilderwerk, MJOP beheer, dakreiniging en zakelijke oplossingen. Bekijk ons aanbod." />
        <meta property="og:image" content="https://www.tha-diensten.nl/assets/img/images/dak_reiniging.webp" />
        <meta property="og:url" content="https://www.tha-diensten.nl" />
        <meta property="og:type" content="website" />
    
        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Professionele Vastgoeddiensten | T.H.A Vastgoedonderhoud" />
        <meta name="twitter:description" content="T.H.A Vastgoedonderhoud biedt professionele vastgoedoplossingen, zoals schilderwerk, dakreiniging, en MJOP beheer." />
        <meta name="twitter:image" content="https://www.tha-diensten.nl/assets/img/images/dak_reiniging.webp" />
    
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.webp">
    
        <!-- Canonical URL -->
        <link rel="canonical" href="https://www.tha-diensten.nl" />
    
        <!-- CSS Files -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="assets/css/odometer.css">
        <link rel="stylesheet" href="assets/css/jarallax.css">
        <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="assets/css/BeerSlider.css">
        <link rel="stylesheet" href="assets/css/tg-cursor.css">
        <link rel="stylesheet" href="assets/css/slick.css">
        <link rel="stylesheet" href="assets/css/default.css">
        <link rel="stylesheet" href="assets/css/aos.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
        <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script> 
</head>
    
    <body>

        <!--Preloader-->

        <!--Preloader-end -->

		<!-- Scroll-top -->
        <button class="scroll-top scroll-to-target" data-target="html">
            <i class="fas fa-angle-up"></i>
        </button>
        <!-- Scroll-top-end-->

        <%- include('partials/header') %>



        <!-- main-area -->
        <main>

     
            <!-- breadcrumb-area-end -->

            <!-- services-area -->
            <section class="services-area-three inner-services-two pt-130 pb-90">
                <div class="container custom-container-two">
                    <div class="services-item-wrap-two">
                        <div class="row">
                            <!-- Service 1: Schilderwerk (Binnen en Buiten) -->
                            <div class="col-xl-4 col-md-6">
                                <div class="services-item-three">
                                    <div class="services-thumb-three">
                                        <a href="binnenschilderwerk">
                                            <img src="assets/img/images/binnenschildererk.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="services-content-three">
                                        <div class="icon">
                                            <i class="fas fa-paint-roller"></i>
                                        </div>
                                        <h2 class="title"><a href="binnenschilderwerk">Schilderwerk (Binnen en Buiten)</a></h2>
                                        <p>Professioneel schilderwerk voor zowel binnen als buiten.</p>
                                        <a href="binnenschilderwerk" class="btn btn-two">Lees meer</a>
                                    </div>
                                </div>
                            </div>
            
                            <!-- Service 2: MJOP Manager -->
                            <div class="col-xl-4 col-md-6">
                                <div class="services-item-three">
                                    <div class="services-thumb-three">
                                        <a href="mjop-manager">
                                            <img src="assets/img/images/mjop.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="services-content-three">
                                        <div class="icon">
                                            <i class="fas fa-tools"></i>
                                        </div>
                                        <h2 class="title"><a href="mjop-manager">MJOP Manager</a></h2>
                                        <p>Beheer uw meerjarenonderhoudsplan efficiënt en zorgeloos.</p>
                                        <a href="mjop-manager" class="btn btn-two">Lees meer</a>
                                    </div>
                                </div>
                            </div>
            
                            <!-- Service 3: Zakelijke dienstverlening -->
                            <div class="col-xl-4 col-md-6">
                                <div class="services-item-three">
                                    <div class="services-thumb-three">
                                        <a href="zakelijk">
                                            <img src="assets/img/images/zakelijk.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="services-content-three">
                                        <div class="icon">
                                            <i class="fas fa-building"></i>
                                        </div>
                                        <h2 class="title"><a href="zakelijk">Zakelijke dienstverlening</a></h2>
                                        <p>Complete oplossingen voor zakelijke vastgoedonderhoud.</p>
                                        <a href="zakelijk" class="btn btn-two">Lees meer</a>
                                    </div>
                                </div>
                            </div>
            
                            <!-- Service 4: Renovaties -->
                            <div class="col-xl-4 col-md-6">
                                <div class="services-item-three">
                                    <div class="services-thumb-three">
                                        <a href="vve">
                                            <img src="assets/img/images/renovaties.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="services-content-three">
                                        <div class="icon">
                                            <i class="fas fa-hammer"></i>
                                        </div>
                                        <h2 class="title"><a href="vve">Renovaties</a></h2>
                                        <p>Wij verzorgen professionele renovaties voor uw woning of bedrijfspand.</p>
                                        <a href="vve" class="btn btn-two">Lees meer</a>
                                    </div>
                                </div>
                            </div>
            
                            <!-- Service 5: Timmerwerk -->
                            <div class="col-xl-4 col-md-6">
                                <div class="services-item-three">
                                    <div class="services-thumb-three">
                                        <a href="buitenschilderwerk">
                                            <img src="assets/img/images/buiten_schilderwerk.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="services-content-three">
                                        <div class="icon">
                                            <i class="fas fa-saw"></i>
                                        </div>
                                        <h2 class="title"><a href="buitenschilderwerk">Timmerwerk</a></h2>
                                        <p>Kwalitatief timmerwerk voor renovatie en nieuwbouw projecten.</p>
                                        <a href="buitenschilderwerk" class="btn btn-two">Lees meer</a>
                                    </div>
                                </div>
                            </div>
            
                            <!-- Service 6: Beglazing -->
                            <div class="col-xl-4 col-md-6">
                                <div class="services-item-three">
                                    <div class="services-thumb-three">
                                        <a href="beglazing">
                                            <img src="assets/img/images/glas_zetten.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="services-content-three">
                                        <div class="icon">
                                            <i class="fas fa-window-maximize"></i>
                                        </div>
                                        <h2 class="title"><a href="beglazing">Beglazing</a></h2>
                                        <p>Installatie van hoogwaardige beglazing voor woningen en bedrijven.</p>
                                        <a href="beglazing" class="btn btn-two">Lees meer</a>
                                    </div>
                                </div>
                            </div>
            
                            <!-- Service 7: Zonnepanelen Reiniging -->
                            <div class="col-xl-4 col-md-6">
                                <div class="services-item-three">
                                    <div class="services-thumb-three">
                                        <a href="zonnepaneel">
                                            <img src="assets/img/images/zon.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="services-content-three">
                                        <div class="icon">
                                            <i class="fas fa-solar-panel"></i>
                                        </div>
                                        <h2 class="title"><a href="zonnepaneel">Zonnepanelen Reiniging</a></h2>
                                        <p>Professionele reiniging van zonnepanelen voor optimale prestaties en een langere levensduur.</p>
                                        <a href="zonnepaneel" class="btn btn-two">Lees meer</a>
                                    </div>
                                </div>
                            </div>
            
                            <!-- Service 8: Dakreiniging -->
                            <div class="col-xl-4 col-md-6">
                                <div class="services-item-three">
                                    <div class="services-thumb-three">
                                        <a href="dakreiniging">
                                            <img src="assets/img/images/dak_reiniging.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="services-content-three">
                                        <div class="icon">
                                            <i class="fas fa-water"></i>
                                        </div>
                                        <h2 class="title"><a href="dakreiniging">Dakreiniging</a></h2>
                                        <p>Professionele dakreiniging om de levensduur van uw dak te verlengen.</p>
                                        <a href="dakreiniging" class="btn btn-two">Lees meer</a>
                                    </div>
                                </div>
                            </div>
            
                            <!-- Service 9: Reiniging -->
                            <div class="col-xl-4 col-md-6">
                                <div class="services-item-three">
                                    <div class="services-thumb-three">
                                        <a href="reiniging">
                                            <img src="assets/img/images/reiniging.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="services-content-three">
                                        <div class="icon">
                                            <i class="fas fa-broom"></i>
                                        </div>
                                        <h2 class="title"><a href="reiniging">Reiniging</a></h2>
                                        <p>Algemene reinigingsdiensten voor gevels, vloeren en terreinen.</p>
                                        <a href="reiniging" class="btn btn-two">Lees meer</a>
                                    </div>
                                </div>
                            </div>
            
                            <!-- Service 10: Behangen -->
                            <div class="col-xl-4 col-md-6">
                                <div class="services-item-three">
                                    <div class="services-thumb-three">
                                        <a href="behangen">
                                            <img src="assets/img/images/behang.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="services-content-three">
                                        <div class="icon">
                                            <i class="fas fa-paint-brush"></i>
                                        </div>
                                        <h2 class="title"><a href="behangen">Behangen</a></h2>
                                        <p>Behangdiensten voor woningen en kantoren.</p>
                                        <a href="behangen" class="btn btn-two">Lees meer</a>
                                    </div>
                                </div>
                            </div>
            
                            <!-- Service 11: Calamiteitenservice -->
                            <div class="col-xl-4 col-md-6">
                                <div class="services-item-three">
                                    <div class="services-thumb-three">
                                        <a href="wa">
                                            <img src="assets/img/images/calamiteiten.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="services-content-three">
                                        <div class="icon">
                                            <i class="fas fa-exclamation-triangle"></i>
                                        </div>
                                        <h2 class="title"><a href="wa">Calamiteitenservice</a></h2>
                                        <p>Snelle hulp bij calamiteiten zoals stormschade, lekkages, en brand.</p>
                                        <a href="wa" class="btn btn-two">Lees meer</a>
                                    </div>
                                </div>
                            </div>
            
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- services-area-end -->

        </main>
        <!-- main-area-end -->

        <!-- footer-area -->
        <%- include('partials/blogs') %>
        <%- include('partials/footer') %>



        <!-- JS here -->
        <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/jquery.odometer.min.js"></script>
        <script src="assets/js/BeerSlider.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/swiper-bundle.min.js"></script>
        <script src="assets/js/jarallax.min.js"></script>
        <script src="assets/js/slick.min.js"></script>
        <script src="assets/js/gsap.js"></script>
        <script src="assets/js/ScrollTrigger.js"></script>
        <script src="assets/js/SplitText.js"></script>
        <script src="assets/js/gsap-animation.js"></script>
        <script src="assets/js/tg-cursor.min.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/aos.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
