<!doctype html>
<html class="no-js" lang="nl">
    <head>
        <meta charset="utf-8" />
    <%- include('partials/json') %>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        
        <title>THA Schilderwerk & Vastgoedonderhoud | Professionele Diensten voor Uw Vastgoed</title>
        <meta name="description" content="THA Vastgoedonderhoud biedt professionele vastgoedonderhoudsdiensten zoals schilderwerk, MJOP beheer, en renovaties. Ons vakmanschap houdt uw vastgoed in topconditie." />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- SEO Keywords -->
        <meta name="keywords" content="vastgoedonderhoud, schilderwerk, renovaties, MJOP, timmerwerk, beglazing, dakreiniging, VvE beheer, calamiteitenservice, zonnepanelenreiniging" />
    
        <!-- Open Graph for social sharing -->
        <meta property="og:title" content="THA Schilderwerk & Vastgoedonderhoud | Professioneel Onderhoud voor Vastgoed" />
        <meta property="og:description" content="THA Vastgoedonderhoud levert complete vastgoedonderhoudsdiensten zoals schilderwerk, MJOP beheer, en renovaties. Vraag vandaag een offerte aan." />
        <meta property="og:image" content="https://www.tha-diensten.nl/assets/img/images/dak_reiniging.webp" />
        <meta property="og:url" content="https://www.tha-diensten.nl" />
        <meta property="og:type" content="website" />
    
        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="THA Vastgoedonderhoud | Uw Partner in Schilderwerk en Onderhoud" />
        <meta name="twitter:description" content="Kwalitatieve diensten voor schilderwerk, onderhoud, en renovaties door THA Vastgoedonderhoud. Bekijk ons aanbod." />
        <meta name="twitter:image" content="https://www.tha-diensten.nl/assets/img/images/dak_reiniging.webp" />
    
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.webp">
    
        <!-- Canonical URL -->
        <link rel="canonical" href="https://www.tha-diensten.nl" />
    
        <!-- CSS Files -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="assets/css/odometer.css">
        <link rel="stylesheet" href="assets/css/jarallax.css">
        <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="assets/css/BeerSlider.css">
        <link rel="stylesheet" href="assets/css/tg-cursor.css">
        <link rel="stylesheet" href="assets/css/slick.css">
        <link rel="stylesheet" href="assets/css/default.css">
        <link rel="stylesheet" href="assets/css/aos.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
        <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script> 
</head>
    
    <body>

        <!--Preloader-->


        <button class="scroll-top scroll-to-target" data-target="html">
            <i class="fas fa-angle-up"></i>
        </button>

        <%- include('partials/header') %>
        
        
        
        
        
        
        <!-- header-area-end -->


        <!-- main-area -->
        <main>

            <!-- banner-area -->
            <section class="banner-area-two banner-bg-two">
                <div class="container-fluid p-0">
                    <div class="row justify-content-end g-0">
                        <div class="col-lg-6">
                            <div class="banner-content-two">
                                <span class="sub-title wow fadeInUp" data-wow-delay=".2s">Onderhoud en Schilderwerken</span>
                                <h2 class="title wow fadeInUp" data-wow-delay=".4s">Professioneel Vastgoedonderhoud</h2>
                                <p class="" data-wow-delay=".6s">Bij THA bieden we uitgebreide onderhoudsdiensten, van schilderwerk tot het opstellen van een Meerjaren Onderhoudsplan (MJOP). Ons doel is om uw pand in topconditie te houden, met vakmanschap en geavanceerde technologieën.</p>
                                <ul class="list-wrap wow fadeInUp" data-wow-delay=".8s">
                                    <li><i class="fas fa-check-circle"></i>Ervaren vakmensen</li>
                                    <li><i class="fas fa-check-circle"></i>Geavanceerde onderhoudsplanning met MJOP</li>
                                    <li><i class="fas fa-check-circle"></i>Preventief en proactief onderhoud</li>
                                    <li><i class="fas fa-check-circle"></i>Heldere communicatie en transparante service</li>
                                </ul>
                                <div class="banner-content-bottom">
                                    <a href="/diensten" class="btn wow fadeInLeft" data-wow-delay="1s">Meer over onze diensten</a>
                                    <div class="banner-contact wow fadeInRight" data-wow-delay="1s">
                                        <div class="icon">
                                            <i class="fas fa-phone-volume"></i>
                                        </div>
                                        <div class="content">
                                            <span>Neem contact op:</span>
                                            <a href="tel:031850601982">085 060 1982</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            
            <div style="height: 180px;"></div>


            <!-- about-area -->
            <section class="about-area-two pb-130">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 order-0 order-lg-2">
                            <div class="about-img-two text-center">
                                <img src="assets/img/about.webp" alt="Over ons">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about-content-two tg-heading-subheading animation-style1">
                                <div class="section-title-two mb-20">
                                    <h2 class="title tg-element-title">Welkom bij THA Schilderwerk & Vastgoedonderhoud</h2>
                                </div>
                                <p class="info-one tg-element-title">THA Vastgoedonderhoud is uw betrouwbare partner voor professioneel onderhoud, schilderwerk en renovaties van vastgoed.</p>
                                <p>Wij bieden een complete dienstverlening die van klein onderhoud tot grote renovaties gaat, en werken met de nieuwste technologieën zoals onze MJOP-software om langetermijnonderhoud efficiënt te plannen en uit te voeren.</p>
                                <div class="about-list">
                                    <ul class="list-wrap">
                                        <li><i class="fas fa-check-circle"></i>Gespecialiseerd in vastgoedonderhoud</li>
                                        <li><i class="fas fa-check-circle"></i>Ervaren en gecertificeerde vakmensen</li>
                                        <li><i class="fas fa-check-circle"></i>Gebruik van duurzame en innovatieve technieken</li>
                                        <li><i class="fas fa-check-circle"></i>Transparante communicatie en projectbeheer</li>
                                        <li><i class="fas fa-check-circle"></i>Van schilderwerk tot dakreiniging</li>
                                    </ul>
                                </div>
                                <div class="content-bottom">
                                    <a href="wiezijnwij" class="btn">Ontdek meer</a>
                                    <div class="contact">
                                        <span class="icon"><i class="fas fa-phone-alt"></i></span>
                                        <a href="tel:031850601982">(+31) 85 060 1982</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
        <!-- work-area -->
        <section class="work-area has-animation pt-125 pb-95">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-title-two text-center mb-90 tg-heading-subheading animation-style1">
                            <span class="sub-title">Hoe Werken Wij</span>
                            <h2 class="title tg-element-title">Ons Werkproces voor Particulieren, VvE’s en Bedrijven</h2>
                        </div>
                    </div>
                </div>
                <div class="work-item-wrap">
                    <div class="work-line-shape">
                        <svg viewBox="0 0 1173 212" xmlns="http://www.w3.org/2000/svg">
                            <g fill="none" stroke-width="2">
                                <path class="dashed1" stroke="rgba(199, 199, 199)" d="M1 1C81 80.5 310.5 248.5 484 159.5L674.5 81C807 34 922.5 91.4 1172.5 211" />
                                <path class="dashed2" stroke="white" d="M1 1C81 80.5 310.5 248.5 484 159.5L674.5 81C807 34 922.5 91.4 1172.5 211" />
                            </g>
                        </svg>
                    </div>
                    <div class="row justify-content-center">
                        <!-- Stap 1: Advies -->
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="work-item wow fadeInUp" data-wow-delay=".2s">
                                <div class="work-icon">
                                    <i class="fas fa-handshake"></i>
                                    <span class="number">01</span>
                                </div>
                                <div class="work-content">
                                    <h2 class="title"><a href="services-details.html">Stap 1: Intake en Advies</a></h2>
                                    <p>Wij starten met een persoonlijk gesprek waarin we uw onderhouds- of renovatiebehoeften bespreken, of het nu gaat om uw woning, bedrijfspand of VvE. Op basis hiervan voeren wij een inspectie uit en stellen we een maatwerkadvies op.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Stap 2: Plan van Aanpak -->
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="work-item wow fadeInUp" data-wow-delay=".4s">
                                <div class="work-icon">
                                    <i class="fas fa-file-contract"></i>
                                    <span class="number">02</span>
                                </div>
                                <div class="work-content">
                                    <h2 class="title"><a href="services-details.html">Stap 2: Maatwerk Plan van Aanpak</a></h2>
                                    <p>Wij ontwikkelen een plan van aanpak dat past bij de behoeften van particulieren, VvE-beheerders of bedrijven. Dit omvat schilderwerk, dakreiniging, gevelonderhoud of energie-efficiënte oplossingen.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Stap 3: Uitvoering en Onderhoud -->
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="work-item wow fadeInUp" data-wow-delay=".6s">
                                <div class="work-icon">
                                    <i class="fas fa-hammer"></i>
                                    <span class="number">03</span>
                                </div>
                                <div class="work-content">
                                    <h2 class="title"><a href="services-details.html">Stap 3: Uitvoering en Langetermijnonderhoud</a></h2>
                                    <p>Ons ervaren team voert de werkzaamheden nauwkeurig uit. Of het nu gaat om periodiek onderhoud voor VvE's, projectmatig onderhoud voor bedrijven, of renovaties voor particulieren, wij garanderen een duurzame oplossing.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        

        <section class="project-area-two pt-125 pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="section-title-two mb-60 tg-heading-subheading animation-style2">
                            <span class="sub-title">Voltooide Projecten</span>
                            <h2 class="title tg-element-title">Bekijk Onze Nieuwe Projecten</h2>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="project-nav-wrap mb-40">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="binnenschilderwerk-tab" data-bs-toggle="tab" data-bs-target="#binnenschilderwerk-tab-pane" type="button" role="tab" aria-controls="binnenschilderwerk-tab-pane" aria-selected="true">Binnenschilderwerk</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="buitenschilderwerk-tab" data-bs-toggle="tab" data-bs-target="#buitenschilderwerk-tab-pane" type="button" role="tab" aria-controls="buitenschilderwerk-tab-pane" aria-selected="false">Buitenschilderwerk</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="behangwerk-tab" data-bs-toggle="tab" data-bs-target="#behangwerk-tab-pane" type="button" role="tab" aria-controls="behangwerk-tab-pane" aria-selected="false">Behangwerk</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="spuitwerk-tab" data-bs-toggle="tab" data-bs-target="#spuitwerk-tab-pane" type="button" role="tab" aria-controls="spuitwerk-tab-pane" aria-selected="false">Spuitwerk</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tab-content" id="myTabContent">
                            <!-- Binnenschilderwerk -->
                            <div class="tab-pane fade show active" id="binnenschilderwerk-tab-pane" role="tabpanel" aria-labelledby="binnenschilderwerk-tab" tabindex="0">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="project-item-two big-item">
                                            <div class="project-thumb-two">
                                                <a href=""><img src="assets/img/portfolio/binnen1.webp" alt="Traprenovatie met witte afwerking en houten treden"></a>
                                            </div>
                                            <div class="project-content-two">
                                                <h2 class="title"><a href="">Traprenovatie</a></h2>
                                                <p>Moderne traprenovatie met hout en wit voor een stijlvolle, strakke afwerking.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="project-item-two small-item">
                                            <div class="project-thumb-two">
                                                <a href=""><img src="assets/img/portfolio/binnen2.webp" alt="Voorbereiding van een woonkamer voor schilderwerk"></a>
                                            </div>
                                            <div class="project-content-two">
                                                <h2 class="title"><a href="">Voorbereiding Binnenwerk</a></h2>
                                                <p>Voorbereid voor schilderwerk: muren schoongemaakt en gerepareerd voor een egaal eindresultaat.</p>
                                            </div>
                                        </div>
                                        <div class="project-item-two small-item">
                                            <div class="project-thumb-two">
                                                <a href=""><img src="assets/img/portfolio/binnen3.webp" alt="Schilderen van een grote woonruimte met egale afwerking"></a>
                                            </div>
                                            <div class="project-content-two">
                                                <h2 class="title"><a href="">Grote Woonruimte</a></h2>
                                                <p>Professioneel geschilderde woonruimte met een strakke en egale afwerking.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <!-- Buitenschilderwerk -->
                            <div class="tab-pane fade" id="buitenschilderwerk-tab-pane" role="tabpanel" aria-labelledby="buitenschilderwerk-tab" tabindex="0">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="project-item-two big-item">
                                            <div class="project-thumb-two">
                                                <a href=""><img src="assets/img/portfolio/buiten3.webp" alt="Klassiek buiten schilderwerk van een traditionele boerderij"></a>
                                            </div>
                                            <div class="project-content-two">
                                                <h2 class="title"><a href="">Buiten Schilderwerk Boerderij</a></h2>
                                                <p>Klassieke boerderij professioneel geschilderd, met behoud van authentieke details.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="project-item-two small-item">
                                            <div class="project-thumb-two">
                                                <a href=""><img src="assets/img/portfolio/buiten4.webp" alt="Vernieuwde houten garagedeur na schilderwerk"></a>
                                            </div>
                                            <div class="project-content-two">
                                                <h2 class="title"><a href="">Schilderen Garagedeur</a></h2>
                                                <p>Houten garagedeur vernieuwd met een glanzende laklaag, beschermd tegen weersinvloeden.</p>
                                            </div>
                                        </div>
                                        <div class="project-item-two small-item">
                                            <div class="project-thumb-two">
                                                <a href=""><img src="assets/img/portfolio/buiten5.webp" alt="Schilderen van houten gevels en kozijnen"></a>
                                            </div>
                                            <div class="project-content-two">
                                                <h2 class="title"><a href="">Schilderen Gevel en Kozijnen</a></h2>
                                                <p>Houten gevels en kozijnen professioneel geschilderd voor langdurige bescherming.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <!-- Behangwerk -->
                            <div class="tab-pane fade" id="behangwerk-tab-pane" role="tabpanel" aria-labelledby="behangwerk-tab" tabindex="0">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="project-item-two big-item">
                                            <div class="project-thumb-two">
                                                <a href=""><img src="assets/img/portfolio/behang1.webp" alt="Industrieel patroonbehang netjes aangebracht voor een moderne look"></a>
                                            </div>
                                            <div class="project-content-two">
                                                <h2 class="title"><a href="">Behang Toepassing</a></h2>
                                                <p>Naadloos aangebracht industrieel behang voor een moderne uitstraling.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="project-item-two small-item">
                                            <div class="project-thumb-two">
                                                <a href=""><img src="assets/img/portfolio/behang2.webp" alt="Subtiel behang met een lichte textuur in een slaapkamer"></a>
                                            </div>
                                            <div class="project-content-two">
                                                <h2 class="title"><a href="">Subtiel Behangwerk</a></h2>
                                                <p>Elegant behang met subtiele textuur, geeft de kamer een rustige, verfijnde sfeer.</p>
                                            </div>
                                        </div>
                                        <div class="project-item-two small-item">
                                            <div class="project-thumb-two">
                                                <a href=""><img src="assets/img/portfolio/behang3.webp" alt="Behangwerk met unieke patronen in een moderne woonkamer"></a>
                                            </div>
                                            <div class="project-content-two">
                                                <h2 class="title"><a href="">Moderne Woonkamer Behang</a></h2>
                                                <p>Uniek patroonbehang voor een moderne en stijlvolle woonkamer.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <!-- Spuitwerk -->
                            <div class="tab-pane fade" id="spuitwerk-tab-pane" role="tabpanel" aria-labelledby="spuitwerk-tab" tabindex="0">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="project-item-two big-item">
                                            <div class="project-thumb-two">
                                                <a href=""><img src="assets/img/portfolio/spuitwerk1.webp" alt="Strak spuitwerk van een volledige woonkamer voor een moderne, egale afwerking"></a>
                                            </div>
                                            <div class="project-content-two">
                                                <h2 class="title"><a href="">Spuitwerk Woning</a></h2>
                                                <p>Strakke spuittechniek voor een egale afwerking van muren en plafonds, met zorgvuldige afdekking.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="project-item-two small-item">
                                            <div class="project-thumb-two">
                                                <a href=""><img src="assets/img/portfolio/spuitwerk2.webp" alt="Afdekking en voorbereidingen voor het spuiten van muren in een woonkamer"></a>
                                            </div>
                                            <div class="project-content-two">
                                                <h2 class="title"><a href="">Voorbereiding Spuitwerk</a></h2>
                                                <p>Afdekken en voorbereiden van wanden en kozijnen voor een strakke spuitafwerking.</p>
                                            </div>
                                        </div>
                                        <div class="project-item-two small-item">
                                            <div class="project-thumb-two">
                                                <a href=""><img src="assets/img/portfolio/spuitwerk4.webp" alt="Grote woonkamer voorbereid en bespoten voor een egale afwerking"></a>
                                            </div>
                                            <div class="project-content-two">
                                                <h2 class="title"><a href="">Spuitwerk Woonkamer</a></h2>
                                                <p>Egale spuitafwerking voor een grote woonruimte met strakke muren en plafonds.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        
        
<section class="services-area-four">
    <div class="container custom-container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title-two text-center mb-60 tg-heading-subheading animation-style1">
                    <span class="sub-title">Onze diensten</span>
                    <h2 class="title tg-element-title">T.H.A vastgoedonderhoud - Diensten waarop je bouwt</h2>
                </div>
            </div>
        </div>
        <div class="row services-active-two">

            <!-- Schilderwerk (Binnen en Buiten) -->
            <div class="col" style="display: flex; flex-direction: column; height: 100%;">
                <div class="services-item-four" style="display: flex; flex-direction: column; height: 100%; min-height: 450px;">
                    <div class="services-thumb-four" style="flex-shrink: 0; overflow: hidden; height: 200px;">
                        <a href="binnenschilderwerk"><img src="assets/img/images/binnenschildererk.webp" alt="" style="width: 100%; height: 100%; object-fit: cover;"></a>
                    </div>
                    <div class="services-content-four" style="flex-grow: 1; display: flex; flex-direction: column; min-height: 150px;">
                        <!-- Title and description together -->
                        <h3 class="title" style="margin-bottom: 5px;"><a href="binnenschilderwerk">Schilderwerk (Binnen en Buiten)</a></h3>
                        <p style="margin-top: 0;">Professioneel schilderwerk voor zowel binnen als buiten.</p>
                    </div>
                </div>
            </div>

            <!-- MJOP Manager -->
            <div class="col" style="display: flex; flex-direction: column; height: 100%;">
                <div class="services-item-four" style="display: flex; flex-direction: column; height: 100%; min-height: 450px;">
                    <div class="services-thumb-four" style="flex-shrink: 0; overflow: hidden; height: 200px;">
                        <a href="mjop-manager"><img src="assets/img/images/mjop.webp" alt="" style="width: 100%; height: 100%; object-fit: cover;"></a>
                    </div>
                    <div class="services-content-four" style="flex-grow: 1; display: flex; flex-direction: column; min-height: 150px;">
                        <!-- Title and description together -->
                        <h3 class="title" style="margin-bottom: 5px;"><a href="mjop-manager">MJOP Manager</a></h3>
                        <p style="margin-top: 0;">Beheer uw meerjarenonderhoudsplan efficiënt en zorgeloos.</p>
                    </div>
                </div>
            </div>

            <!-- Zakelijke dienstverlening -->
            <div class="col" style="display: flex; flex-direction: column; height: 100%;">
                <div class="services-item-four" style="display: flex; flex-direction: column; height: 100%; min-height: 450px;">
                    <div class="services-thumb-four" style="flex-shrink: 0; overflow: hidden; height: 200px;">
                        <a href="zakelijk"><img src="assets/img/images/zakelijk.webp" alt="" style="width: 100%; height: 100%; object-fit: cover;"></a>
                    </div>
                    <div class="services-content-four" style="flex-grow: 1; display: flex; flex-direction: column; min-height: 150px;">
                        <!-- Title and description together -->
                        <h3 class="title" style="margin-bottom: 5px;"><a href="zakelijk">Zakelijke dienstverlening</a></h3>
                        <p style="margin-top: 0;">Complete oplossingen voor zakelijke vastgoedonderhoud.</p>
                    </div>
                </div>
            </div>

            <!-- Renovaties -->
            <div class="col" style="display: flex; flex-direction: column; height: 100%;">
                <div class="services-item-four" style="display: flex; flex-direction: column; height: 100%; min-height: 450px;">
                    <div class="services-thumb-four" style="flex-shrink: 0; overflow: hidden; height: 200px;">
                        <a href="vve"><img src="assets/img/images/renovaties.webp" alt="" style="width: 100%; height: 100%; object-fit: cover;"></a>
                    </div>
                    <div class="services-content-four" style="flex-grow: 1; display: flex; flex-direction: column; min-height: 150px;">
                        <!-- Title and description together -->
                        <h3 class="title" style="margin-bottom: 5px;"><a href="vve">Renovaties</a></h3>
                        <p style="margin-top: 0;">Wij verzorgen professionele renovaties voor uw woning of bedrijfspand.</p>
                    </div>
                </div>
            </div>

            <!-- Timmerwerk -->
            <div class="col" style="display: flex; flex-direction: column; height: 100%;">
                <div class="services-item-four" style="display: flex; flex-direction: column; height: 100%; min-height: 450px;">
                    <div class="services-thumb-four" style="flex-shrink: 0; overflow: hidden; height: 200px;">
                        <a href="buitenschilderwerk"><img src="assets/img/images/buiten_schilderwerk.webp" alt="" style="width: 100%; height: 100%; object-fit: cover;"></a>
                    </div>
                    <div class="services-content-four" style="flex-grow: 1; display: flex; flex-direction: column; min-height: 150px;">
                        <!-- Title and description together -->
                        <h3 class="title" style="margin-bottom: 5px;"><a href="buitenschilderwerk">Timmerwerk</a></h3>
                        <p style="margin-top: 0;">Kwalitatief timmerwerk voor renovatie en nieuwbouw projecten.</p>
                    </div>
                </div>
            </div>

            <!-- Beglazing -->
            <div class="col" style="display: flex; flex-direction: column; height: 100%;">
                <div class="services-item-four" style="display: flex; flex-direction: column; height: 100%; min-height: 450px;">
                    <div class="services-thumb-four" style="flex-shrink: 0; overflow: hidden; height: 200px;">
                        <a href="beglazing"><img src="assets/img/images/glas_zetten.webp" alt="" style="width: 100%; height: 100%; object-fit: cover;"></a>
                    </div>
                    <div class="services-content-four" style="flex-grow: 1; display: flex; flex-direction: column; min-height: 150px;">
                        <!-- Title and description together -->
                        <h3 class="title" style="margin-bottom: 5px;"><a href="beglazing">Beglazing</a></h3>
                        <p style="margin-top: 0;">Installatie van hoogwaardige beglazing voor woningen en bedrijven.</p>
                    </div>
                </div>
            </div>

            <!-- Zonnepanelen Reiniging -->
            <div class="col" style="display: flex; flex-direction: column; height: 100%;">
                <div class="services-item-four" style="display: flex; flex-direction: column; height: 100%; min-height: 450px;">
                    <div class="services-thumb-four" style="flex-shrink: 0; overflow: hidden; height: 200px;">
                        <a href="zonnepaneel"><img src="assets/img/images/zon.webp" alt="" style="width: 100%; height: 100%; object-fit: cover;"></a>
                    </div>
                    <div class="services-content-four" style="flex-grow: 1; display: flex; flex-direction: column; min-height: 150px;">
                        <!-- Title and description together -->
                        <h3 class="title" style="margin-bottom: 5px;"><a href="zonnepaneel">Zonnepanelen Reiniging</a></h3>
                        <p style="margin-top: 0;">Professionele reiniging van zonnepanelen voor optimale prestaties en een langere levensduur.</p>
                    </div>
                </div>
            </div>

            <!-- Dakreiniging -->
            <div class="col" style="display: flex; flex-direction: column; height: 100%;">
                <div class="services-item-four" style="display: flex; flex-direction: column; height: 100%; min-height: 450px;">
                    <div class="services-thumb-four" style="flex-shrink: 0; overflow: hidden; height: 200px;">
                        <a href="dakreiniging"><img src="assets/img/images/dak_reiniging.webp" alt="" style="width: 100%; height: 100%; object-fit: cover;"></a>
                    </div>
                    <div class="services-content-four" style="flex-grow: 1; display: flex; flex-direction: column; min-height: 150px;">
                        <!-- Title and description together -->
                        <h3 class="title" style="margin-bottom: 5px;"><a href="dakreiniging">Dakreiniging</a></h3>
                        <p style="margin-top: 0;">Professionele dakreiniging om de levensduur van uw dak te verlengen.</p>
                    </div>
                </div>
            </div>

            <!-- Reiniging -->
            <div class="col" style="display: flex; flex-direction: column; height: 100%;">
                <div class="services-item-four" style="display: flex; flex-direction: column; height: 100%; min-height: 450px;">
                    <div class="services-thumb-four" style="flex-shrink: 0; overflow: hidden; height: 200px;">
                        <a href="reiniging"><img src="assets/img/images/reiniging.webp" alt="" style="width: 100%; height: 100%; object-fit: cover;"></a>
                    </div>
                    <div class="services-content-four" style="flex-grow: 1; display: flex; flex-direction: column; min-height: 150px;">
                        <!-- Title and description together -->
                        <h3 class="title" style="margin-bottom: 5px;"><a href="reiniging">Reiniging</a></h3>
                        <p style="margin-top: 0;">Algemene reinigingsdiensten voor gevels, vloeren en terreinen.</p>
                    </div>
                </div>
            </div>

            <!-- Behangen -->
            <div class="col" style="display: flex; flex-direction: column; height: 100%;">
                <div class="services-item-four" style="display: flex; flex-direction: column; height: 100%; min-height: 450px;">
                    <div class="services-thumb-four" style="flex-shrink: 0; overflow: hidden; height: 200px;">
                        <a href="behangen"><img src="assets/img/images/behang.webp" alt="" style="width: 100%; height: 100%; object-fit: cover;"></a>
                    </div>
                    <div class="services-content-four" style="flex-grow: 1; display: flex; flex-direction: column; min-height: 150px;">
                        <!-- Title and description together -->
                        <h3 class="title" style="margin-bottom: 5px;"><a href="behangen">Behangen</a></h3>
                        <p style="margin-top: 0;">Behangdiensten voor woningen en kantoren.</p>
                    </div>
                </div>
            </div>

            <!-- Calamiteitenservice -->
            <div class="col" style="display: flex; flex-direction: column; height: 100%;">
                <div class="services-item-four" style="display: flex; flex-direction: column; height: 100%; min-height: 450px;">
                    <div class="services-thumb-four" style="flex-shrink: 0; overflow: hidden; height: 200px;">
                        <a href="wa"><img src="assets/img/images/calamiteiten.webp" alt="" style="width: 100%; height: 100%; object-fit: cover;"></a>
                    </div>
                    <div class="services-content-four" style="flex-grow: 1; display: flex; flex-direction: column; min-height: 150px;">
                        <!-- Title and description together -->
                        <h3 class="title" style="margin-bottom: 5px;"><a href="wa">Calamiteitenservice</a></h3>
                        <p style="margin-top: 0;">Snelle reactie bij noodsituaties voor schadeherstel.</p>
                    </div>
                </div>
            </div>

            <!-- VvE Beheer -->
            <div class="col" style="display: flex; flex-direction: column; height: 100%;">
                <div class="services-item-four" style="display: flex; flex-direction: column; height: 100%; min-height: 450px;">
                    <div class="services-thumb-four" style="flex-shrink: 0; overflow: hidden; height: 200px;">
                        <a href="vve"><img src="assets/img/images/vve.webp" alt="" style="width: 100%; height: 100%; object-fit: cover;"></a>
                    </div>
                    <div class="services-content-four" style="flex-grow: 1; display: flex; flex-direction: column; min-height: 150px;">
                        <!-- Title and description together -->
                        <h3 class="title" style="margin-bottom: 5px;"><a href="vve">VvE Beheer</a></h3>
                        <p style="margin-top: 0;">Vereniging van Eigenaren beheer en onderhoud.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



            
            
            
            <!-- services-area-end -->

            <!-- video-area -->
            <section class="video-area">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-6 col-md-8 order-0 order-lg-2">
                            <div class="video-img-wrap">
                                <img src="assets/img/images/video2.webp" alt="MJOP Manager">
                                <img src="assets/img/images/logo.webp" data-aos="fade-up" alt="MJOP Manager Functies">
                                <a href="https://www.youtube.com/watch?v=vNeibUCeDA0" class="play-btn popup-video">
                                    <i class="fas fa-play"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="video-content">
                                <div class="section-title-two mb-25 tg-heading-subheading animation-style1">
                                    <span class="sub-title">Gratis MJOP Pilot Programma</span>
                                    <h2 class="title tg-element-title">Efficiënt Vastgoedbeheer met Onze MJOP Manager</h2>
                                </div>
                                <p>Optimaliseer uw vastgoedbeheer met onze MJOP Manager software. Of u nu een VvE of een commercieel gebouw beheert, onze oplossing biedt real-time updates, geautomatiseerde onderhoudsplannen en gepersonaliseerde inzichten. Probeer ons <strong>Gratis Pilot</strong> programma en ontdek de voordelen van proactief vastgoedbeheer.</p>
                                <ul class="list-wrap">
                                    <li>
                                        <div class="list-item">
                              
                                            <a href="services-details.html">Beheer van VvE's</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="list-item">
                                           
                                            <a href="services-details.html">Commercieel Vastgoedbeheer</a>
                                        </div>
                                    </li>
                                </ul>
                                <a href="/mjop-manager" class="btn">Ontdek MEER</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            
            <!-- video-area-end -->

            <!-- brand-area -->
            <div class="brand-area-three pt-100 pb-100">
                <div class="container">
                    <div class="row brand-active">
                        <div class="col-12">
                            <div class="brand-item">
                                <img src="assets/img/brand/Altrex_Logo_CMYK.webp" alt="Altrex Logo">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="brand-item">
                                <img src="assets/img/brand/Logo-Teaser.webp" alt="ProGold Logo">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="brand-item">
                                <img src="assets/img/brand/wagner-group-logo-ve.webp" alt="Wagner Logo">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="brand-item">
                                <img src="assets/img/brand/3M_wordmarksvg.webp" alt="3M Logo">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="brand-item">
                                <img src="assets/img/brand/logo-repair-care-rgb.webp" alt="Repair Care Logo">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="brand-item">
                                <img src="assets/img/brand/Karcher-Logo.webp" alt="Kärcher Logo">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="brand-item">
                                <img src="assets/img/brand/2560px-Festoolsvg.webp" alt="Festool Logo">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="brand-item">
                                <img src="assets/img/brand/download_2.webp" alt="WorkMan Logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- brand-area-end -->

            <!-- counter-area -->
            <section class="counter-area-three pb-130">
                <div class="container">
                    <div class="counter-inner jarallax" >
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter-item">
                                    <div class="icon">
                                        <svg viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M32.5 40.6251C42.5965 40.6251 50.7812 32.7434 50.7812 23.0209C50.7812 13.2984 42.5965 5.41675 32.5 5.41675C22.4035 5.41675 14.2188 13.2984 14.2188 23.0209C14.2188 32.7434 22.4035 40.6251 32.5 40.6251Z" stroke="currentcolor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M20.3666 36.6164L20.3396 56.6039C20.3396 59.0414 22.0459 60.2331 24.1584 59.231L31.4167 55.7914C32.0125 55.4935 33.0146 55.4935 33.6104 55.7914L40.8959 59.231C42.9813 60.206 44.7146 59.0414 44.7146 56.6039V36.1289" stroke="currentcolor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                    <div class="content">
                                        <h2 class="count"><span class="odometer" data-count="500"></span>+</h2>
                                        <p>Tevreden Klanten</p> <!-- Adjusted to a reasonable count -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter-item">
                                    <div class="icon">
                                        <svg viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M33.4999 28.4495V35.2744C33.4999 40.9744 31.2249 43.2494 25.5249 43.2494H18.725C13.05 43.2494 10.75 40.9744 10.75 35.2744V28.4495C10.75 22.7745 13.025 20.4995 18.725 20.4995H25.5499C31.2249 20.4995 33.4999 22.7745 33.4999 28.4495Z" stroke="currentcolor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M43.2498 18.6997V25.5247C43.2498 31.2246 40.9748 33.4996 35.2748 33.4996H33.4998V28.4497C33.4998 22.7747 31.2248 20.4997 25.5249 20.4997H20.4999V18.6997C20.4999 12.9997 22.7749 10.7498 28.4748 10.7498H35.2998C40.9748 10.7498 43.2498 13.0247 43.2498 18.6997Z" stroke="currentcolor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M51.9997 34.5002C51.9997 44.1752 44.1748 52.0001 34.4998 52.0001L37.1248 47.6252" stroke="currentcolor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M2 19.4999C2 9.82496 9.82496 2 19.4999 2L16.8749 6.37498" stroke="currentcolor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                    <div class="content">
                                        <h2 class="count"><span class="odometer" data-count="120"></span>+</h2>
                                        <p>Actieve Projecten</p> <!-- More modest project count -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter-item">
                                    <div class="icon">
                                        <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.125 1.35417C8.125 0.995019 8.26767 0.650582 8.52163 0.396626C8.77558 0.142671 9.12002 0 9.47917 0H39.2708C39.63 0 39.9744 0.142671 40.2284 0.396626C40.4823 0.650582 40.625 0.995019 40.625 1.35417V2.70833H47.3958C47.755 2.70833 48.0994 2.851 48.3534 3.10496C48.6073 3.35892 48.75 3.70335 48.75 4.0625V12.1875C48.75 13.9832 48.0366 15.7054 46.7669 16.9752C45.4971 18.245 43.7749 18.9583 41.9792 18.9583H39.7001C37.6133 24.8625 32.2116 29.2012 25.7292 29.7361V37.9167H35.2083C35.5675 37.9167 35.9119 38.0593 36.1659 38.3133C36.4198 38.5672 36.5625 38.9117 36.5625 39.2708V47.3958C36.5625 47.755 36.4198 48.0994 36.1659 48.3534C35.9119 48.6073 35.5675 48.75 35.2083 48.75H13.5417C13.1825 48.75 12.8381 48.6073 12.5841 48.3534C12.3302 48.0994 12.1875 47.755 12.1875 47.3958V39.2708C12.1875 38.9117 12.3302 38.5672 12.5841 38.3133C12.8381 38.0593 13.1825 37.9167 13.5417 37.9167H23.0208V29.7361C16.5398 29.2012 11.1367 24.8625 9.0499 18.9583H6.77083C4.9751 18.9583 3.25291 18.245 1.98313 16.9752C0.713354 15.7054 0 13.9832 0 12.1875V4.0625C0 3.70335 0.142671 3.35892 0.396626 3.10496C0.650582 2.851 0.995019 2.70833 1.35417 2.70833H8.125V1.35417ZM37.9167 13.5417V2.70833H10.8333V13.5417C10.8333 21.0207 16.8959 27.0833 24.375 27.0833C31.8541 27.0833 37.9167 21.0207 37.9167 13.5417Z" fill="currentcolor" />
                                        </svg>
                                    </div>
                                    <div class="content">
                                        <h2 class="count"><span class="odometer" data-count="10"></span>+</h2>
                                        <p>Jaren Ervaring</p> <!-- Reflecting 10 years of existence -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter-item">
                                    <div class="icon">
                                        <svg viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M44.9999 17.9C44.8499 17.875 44.6749 17.875 44.5249 17.9C41.0749 17.775 38.3249 14.95 38.3249 11.45C38.3249 7.875 41.1999 5 44.7749 5C48.3499 5 51.2249 7.9 51.2249 11.45C51.1999 14.95 48.4499 17.775 44.9999 17.9Z" stroke="currentcolor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M42.4249 36.0999C45.8499 36.6749 49.6249 36.0749 52.2749 34.2999C55.7999 31.9499 55.7999 28.0999 52.2749 25.7499C49.5999 23.9749 45.7749 23.3749 42.3499 23.9749" stroke="currentcolor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M14.9248 17.9C15.0748 17.875 15.2498 17.875 15.3998 17.9C18.8498 17.775 21.5998 14.95 21.5998 11.45C21.5998 7.875 18.7248 5 15.1498 5C11.5748 5 8.69983 7.9 8.69983 11.45C8.72483 14.95 11.4748 17.775 14.9248 17.9Z" stroke="currentcolor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M17.4998 36.0999C14.0748 36.6749 10.2999 36.0749 7.64985 34.2999C4.12485 31.9499 4.12485 28.0999 7.64985 25.7499C10.3249 23.9749 14.1498 23.3749 17.5748 23.9749" stroke="currentcolor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M29.9999 36.5748C29.8499 36.5498 29.6749 36.5498 29.5249 36.5748C26.0749 36.4498 23.3249 33.6248 23.3249 30.1248C23.3249 26.5498 26.1999 23.6748 29.7749 23.6748C33.3499 23.6748 36.2249 26.5748 36.2249 30.1248C36.1999 33.6248 33.4499 36.4748 29.9999 36.5748Z" stroke="currentcolor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M22.7249 44.4497C19.1999 46.7997 19.1999 50.6497 22.7249 52.9997C26.7249 55.6747 33.2749 55.6747 37.2749 52.9997C40.7999 50.6497 40.7999 46.7997 37.2749 44.4497C33.2999 41.7997 26.7249 41.7997 22.7249 44.4497Z" stroke="currentcolor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                    <div class="content">
                                        <h2 class="count"><span class="odometer" data-count="20"></span>+</h2>
                                        <p>Samenwerkingen & Partners</p> <!-- Reflecting partnerships and collaborations -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            
            <!-- counter-area-end -->

 
      

            <!-- team-area -->
            <section class="team-area-two pt-125 pb-100">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="section-title-two text-center mb-60 tg-heading-subheading animation-style1">
                                <span class="sub-title">Expert Team</span>
                                <h2 class="title tg-element-title">Maak kennis met ons</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="team-item-two">
                                <div class="team-thumb-two" style="border-radius: 50%; overflow: hidden; width: 200px; height: 200px;">
                                    <a href="">
                                        <img src="assets/img/team/thierry.jpg" alt="Thierry Henrich" style="width: 100%; height: 100%; object-fit: cover;">
                                    </a>
                                </div>
                                <div class="team-content-two">
                                    <h3 class="title"><a href="">Thierry Henrich</a></h3>
                                    <span>Eigenaar</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="team-item-two">
                                <div class="team-thumb-two" style="border-radius: 50%; overflow: hidden; width: 200px; height: 200px;">
                                    <a href="">
                                        <img src="assets/img/team/quinten.png" alt="Quinten Henrich" style="width: 100%; height: 100%; object-fit: cover;">
                                    </a>
                                </div>
                                <div class="team-content-two">
                                    <h3 class="title"><a href="">Quinten Henrich</a></h3>
                                    <span>Project Coördinator</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="team-item-two">
                                <div class="team-thumb-two" style="border-radius: 50%; overflow: hidden; width: 200px; height: 200px;">
                                    <a href="">
                                        <img src="assets/img/team/user.webp" alt="Barry van Eerde" style="width: 100%; height: 100%; object-fit: cover;">
                                    </a>
                                </div>
                                <div class="team-content-two">
                                    <h3 class="title"><a href="">Barry van Eerde</a></h3>
                                    <span>Operationele Dienst</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="team-item-two">
                                <div class="team-thumb-two" style="border-radius: 50%; overflow: hidden; width: 200px; height: 200px;">
                                    <a href="">
                                        <img src="assets/img/team/dyon.jpg" alt="Dyon van Gerwen" style="width: 100%; height: 100%; object-fit: cover;">
                                    </a>
                                </div>
                                <div class="team-content-two">
                                    <h3 class="title"><a href="">Dyon van Gerwen</a></h3>
                                    <span>IT & Marketing Development</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            
            
            <!-- team-area-end -->

            <!-- testimonial-area -->
            <section class="testimonial-area-three testimonial-bg" data-background="assets/img/bg/nice.webp">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="section-title-two white-title text-center mb-65 tg-heading-subheading animation-style1">
                                <span class="sub-title">Google reviews</span>
                                <h2 class="title tg-element-title">Wat vinden onze klanten</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row testimonial-active-two">
                        <div class="col-lg-4">
                            <div class="testimonial-item-two">
                                <div class="testimonial-icon-two">
                                    <i class="fas fa-quote-right"></i>
                                </div>
                                <div class="testimonial-content-two">
                                    <p>De schilders hebben bij mij zeer goed werk afgeleverd. Helaas hadden we ook nogal wat houtrot, waardoor het werk langer duurde dan gepland. Maar ze namen de tijd om het goed te doen. Zeer tevreden!</p>
                                    <div class="testimonial-avatar-info">
                                        <div class="avatar-content">
                                            <h4 class="title">Gerard Vereggen</h4>
                                            <p>Google Review</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="testimonial-item-two">
                                <div class="testimonial-icon-two">
                                    <i class="fas fa-quote-right"></i>
                                </div>
                                <div class="testimonial-content-two">
                                    <p>Erg tevreden over hun werk!</p>
                                    <div class="testimonial-avatar-info">
                                        <div class="avatar-content">
                                            <h4 class="title">Henry T</h4>
                                            <p>Google Review</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="testimonial-item-two">
                                <div class="testimonial-icon-two">
                                    <i class="fas fa-quote-right"></i>
                                </div>
                                <div class="testimonial-content-two">
                                    <p>Super vriendelijke schilders. Denken mee, letten op details en leveren erg goed werk. Ik ben heel erg tevreden!</p>
                                    <div class="testimonial-avatar-info">
                                        <div class="avatar-content">
                                            <h4 class="title">Melvin v. Beek</h4>
                                            <p>Google Review</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="testimonial-item-two">
                                <div class="testimonial-icon-two">
                                    <i class="fas fa-quote-right"></i>
                                </div>
                                <div class="testimonial-content-two">
                                    <p>Goed werk afgeleverd, alle kitranden binnen de kozijnen vervangen. Bedankt!</p>
                                    <div class="testimonial-avatar-info">
                                        <div class="avatar-content">
                                            <h4 class="title">Monique Feenstra</h4>
                                            <p>Google Review</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="testimonial-item-two">
                                <div class="testimonial-icon-two">
                                    <i class="fas fa-quote-right"></i>
                                </div>
                                <div class="testimonial-content-two">
                                    <p>Vriendelijke en hardwerkende jongens. Ze hebben mijn huiskamer prachtig geschilderd. Een dikke pluim!</p>
                                    <div class="testimonial-avatar-info">
                                        <div class="avatar-content">
                                            <h4 class="title">Marjan Scheepers</h4>
                                            <p>Google Review</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="testimonial-item-two">
                                <div class="testimonial-icon-two">
                                    <i class="fas fa-quote-right"></i>
                                </div>
                                <div class="testimonial-content-two">
                                    <p>Goed geïnformeerd, voor en tijdens het werk. Prima resultaat en zeer tevreden!</p>
                                    <div class="testimonial-avatar-info">
                                        <div class="avatar-content">
                                            <h4 class="title">JFE de Jong</h4>
                                            <p>Google Review</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="testimonial-item-two">
                                <div class="testimonial-icon-two">
                                    <i class="fas fa-quote-right"></i>
                                </div>
                                <div class="testimonial-content-two">
                                    <p>Voor mijn bedrijf heb ik de mannen van T.H.A schilderwerk en vastgoed op 2 vestigingen renovatie binnenwerk laten uitvoeren. Zeer tevreden!</p>
                                    <div class="testimonial-avatar-info">
                                        <div class="avatar-content">
                                            <h4 class="title">Sjoewiie Delis</h4>
                                            <p>Google Review</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="testimonial-item-two">
                                <div class="testimonial-icon-two">
                                    <i class="fas fa-quote-right"></i>
                                </div>
                                <div class="testimonial-content-two">
                                    <p>Tevreden over het geleverde schilderwerk. De buitenkant van het huis is erg opgeknapt!</p>
                                    <div class="testimonial-avatar-info">
                                        <div class="avatar-content">
                                            <h4 class="title">Alida S.</h4>
                                            <p>Google Review</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="testimonial-item-two">
                                <div class="testimonial-icon-two">
                                    <i class="fas fa-quote-right"></i>
                                </div>
                                <div class="testimonial-content-two">
                                    <p>Vriendelijk, netjes, snel en humor. Erg blij met het schilderwerk!</p>
                                    <div class="testimonial-avatar-info">
                                        <div class="avatar-content">
                                            <h4 class="title">Caira Dol</h4>
                                            <p>Google Review</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="testimonial-item-two">
                                <div class="testimonial-icon-two">
                                    <i class="fas fa-quote-right"></i>
                                </div>
                                <div class="testimonial-content-two">
                                    <p>Mijn broertje en ik hadden Thierry ingehuurd voor het buitenschilderwerk voor twee huizen. Een zeer kundige vakman!</p>
                                    <div class="testimonial-avatar-info">
                                        <div class="avatar-content">
                                            <h4 class="title">TP19091979</h4>
                                            <p>Google Review</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="testimonial-item-two">
                                <div class="testimonial-icon-two">
                                    <i class="fas fa-quote-right"></i>
                                </div>
                                <div class="testimonial-content-two">
                                    <p>Thierry is stipt, werkt super netjes en communiceert duidelijk. Blij met het resultaat!</p>
                                    <div class="testimonial-avatar-info">
                                        <div class="avatar-content">
                                            <h4 class="title">1misssiggy M</h4>
                                            <p>Google Review</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="testimonial-item-two">
                                <div class="testimonial-icon-two">
                                    <i class="fas fa-quote-right"></i>
                                </div>
                                <div class="testimonial-content-two">
                                    <p>Hele vriendelijke service en harde werkers die bereid zijn om mee te denken. Een aanrader!</p>
                                    <div class="testimonial-avatar-info">
                                        <div class="avatar-content">
                                            <h4 class="title">Rinie Cassteele-Koedijk</h4>
                                            <p>Google Review</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="testimonial-item-two">
                                <div class="testimonial-icon-two">
                                    <i class="fas fa-quote-right"></i>
                                </div>
                                <div class="testimonial-content-two">
                                    <p>Vakman die achter zijn werk staat! Werkt zeer netjes en zorgvuldig.</p>
                                    <div class="testimonial-avatar-info">
                                        <div class="avatar-content">
                                            <h4 class="title">Dick Mus</h4>
                                            <p>Google Review</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Add more reviews if needed -->
                    </div>
                </div>
            </section>
            
            <%- include('partials/blogs') %>
            

        </main>
        <!-- main-area-end -->
        <div style="height: 180px;"></div>
        <!-- footer-area -->
        <%- include('partials/footer') %>

        
        <!-- footer-area-end -->



        <!-- JS here -->
        <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/jquery.odometer.min.js"></script>
        <script src="assets/js/BeerSlider.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/swiper-bundle.min.js"></script>
        <script src="assets/js/jarallax.min.js"></script>
        <script src="assets/js/slick.min.js"></script>
        <script src="assets/js/gsap.js"></script>
        <script src="assets/js/ScrollTrigger.js"></script>
        <script src="assets/js/SplitText.js"></script>
        <script src="assets/js/gsap-animation.js"></script>
        <script src="assets/js/tg-cursor.min.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/aos.js"></script>
        <script src="assets/js/main.js"></script>
        
    </body>
</html>
